@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Montserrat;
  font-weight: 500;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}


button {
  cursor: pointer;
}

.footer_button {
  @apply text-white px-3 border border-white py-3 rounded-md mx-3 flex items-center gap-2;
}

.products_grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-flow: dense;
}


.test{
  width: 100% !important;
}